<nav>
    <ul>
        <li> <a href="/">Home</a> </li>
        <li> <a href="/profile/mohamed">mohamed</a> </li>
        <li> <a href="/profile/ahmed">ahmed</a> </li>
        <li> <a href="/profile/ali">ali</a> </li>
    </ul>
</nav>